#block-views-minimenu-block_1
{
  padding: 0px 0px 10px 0px;
  color: #ccc;
  border-bottom: 1px solid;
  margin-bottom: 15px;
}

#block-views-minimenu-block_1>h2
{
  font-family: arial;
  font-weight: bold;
  color: #333;
  font-size: 13px;
  padding: 0px 0px 10px 0px;
}

#block-views-minimenu-block_1 .content .view .view-content .views-row
{
  padding: 0px 0px 5px 10px;

}

#block-views-News_list-block_1
{
  padding: 0px 0px 10px 0px;
}

#block-views-News_list-block_1>h2
{
  font-family: arial;
  font-weight: bold;
  color: #333;
  font-size: 13px;
  padding: 0px 0px 15px 0px;
}

#block-views-News_list-block_1 .content .view .view-content .views-row
{
  padding: 0px 0px 35px 0px;
}

#block-views-News_list-block_1 .content .view .view-content .views-row .views-field-created
{
  font-family: arial;
  font-style: italic;
  color: #333;
  font-size: 10px;
  padding: 0px 0px 2px 0px;
}

#block-views-News_list-block_1 .content .view .view-content .views-row .views-field-title
{
  font-family: arial;
  font-weight: bold;
  color: #333;
  font-size: 11px;
  padding: 0px 0px 2px 0px;
}

#block-views-News_list-block_1 .content .view .view-content .views-row .views-field-field-teaser-value
{
  font-family: arial;
  color: #333;
  font-size: 11px;
  padding: 0px 0px 2px 0px;
}

#block-views-News_list-block_1 .content .view .view-content .views-row .views-field-view-node
{
  float: right;
  font-family: arial;
  color: #333;
  font-size: 11px;
  padding: 0px 0px 2px 0px;
}

#block-views-News_list-block_1 .content .view .view-content .views-row .views-field-view-node a:links
{
font-style:italic;
text-decoration: none;
color: #8dc63f;
}

#block-views-News_list-block_1 .content .view .view-content .views-row .views-field-view-node a:visited
{
font-style:italic;
text-decoration: none;
color: #8dc63f;
}

#block-views-News_list-block_1 .content .view .view-content .views-row .views-field-view-node a:hover
{
font-style:italic;
text-decoration:underline;
color: #8dc63f;
}

#block-views-Statement-block_1 .content .view .view-content
{
  padding: 0px 0px 10px 4px;
  color: #ccc;
  border-bottom: 1px solid;
  margin-bottom: 15px;
}
#block-views-Statement-block_1 .content .view .view-content .views-row
{
  background: #fff url(images/back-statement-top.png) left top no-repeat;
  padding-top: 10px;
}

#block-views-Statement-block_1 .content .view .view-content .views-row .views-field-body
{
  background: #fff url(images/back-statement-middle.png) left top repeat-y;
  text-align: center;
  padding: 0px 20px 0px 10px;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  color: #fff;
}

#block-views-Statement-block_1 .content .view .view-content .views-row .views-field-title
{
  height: 50px;
  padding: 5px 20px 0px 10px;
  background: #fff url(images/back-statement-bottom.png) left top no-repeat;
  text-align: right;
  font-family: arial, sans-serif;
  font-size: 11px;
  color: #fff;
}

#container-content #content #content-inner>h2 {
  font-family: arial;
  font-weight: bold;
  color: #333;
  font-size: 13px;
  padding: 0px 0px 2px 0px;
}

#container-content #content #content-inner>p {
  padding: 0px 0px 15px 0px;
}

#container-content #content-inner #faste-brugere-item-list ul {
  margin-top: 15px;
}

#container-content #content-inner #faste-brugere-item-list li {
  margin-left: 15px;
  padding-bottom: 8px;
  list-style-image: url("images/ball.png");
}

#container-content #content-inner #faste-brugere-item-list a {
  display: inline-block;
  margin-bottom: 2px;  
}
