#block-views-minimenu-block_1
{
	padding: 0px 0px 10px 0px;
	color: #ccc;
	border-bottom: 1px solid;
	margin-bottom: 15px;
}

#block-views-minimenu-block_1>h2
{
	font-family: arial;
	font-weight: bold;
	color: #333;
	font-size: 13px;
	padding: 0px 0px 10px 0px;
}

#block-views-minimenu-block_1 .content .view .view-content .views-row
{
	padding: 0px 0px 5px 10px;
}


#block-views-Statement-block_1 .content .view .view-content
{
	padding: 0px 0px 10px 4px;
	color: #ccc;
	border-bottom: 1px solid;
	margin-bottom: 15px;
}

#block-views-Statement-block_1 .content .view .view-content .views-row
{
	background: #fff url(../images/back-statement-top.png) left top no-repeat;
	padding-top: 10px;
}

#block-views-Statement-block_1 .content .view .view-content .views-row .views-field-body
{
	background: #fff url(../images/back-statement-middle.png) left top repeat-y;
	padding: 0px 20px 0px 10px;
	text-align: center;
	font-family: "Arial Narrow", Arial, sans-serif;
	font-size: 15px;
	color: #fff;
}

#block-views-Statement-block_1 .content .view .view-content .views-row .views-field-title
{
	height: 75px;
	padding: 10px 20px 0px 10px;
	background: #fff url(../images/back-statement-bottom.png) left top no-repeat;
	text-align: right;
	font-family: arial, sans-serif;
	font-size: 11px;
	color: #fff;
}

#container-content #content #content-inner>h2
{
	font-family: arial;
	font-weight: bold;
	color: #333;
	font-size: 13px;
	padding: 0px 0px 2px 0px;
}

#container-content #content #content-inner #faste-brugere-item-list>p,
#container-content #content #content-inner #faste-brugere-item-listp
{
	padding: 0px 0px 15px 0px;
}

#container-content #content #content-inner #lej-lokaler-item-list 
{
	padding-top: 15px;
}

#container-content #content-inner #faste-brugere-item-list ul, 
#container-content #content-inner  #lej-lokaler-item-list ul 
{
	margin-top: 15px;
	padding-left: 4px;
}

#container-content #content-inner #faste-brugere-item-list li 
{
	margin-left: 15px;
	margin-bottom: 8px;
	list-style-image: url("../images/ball.png");
}

#container-content #content-inner #lej-lokaler-item-list li
{
	margin: 0 0 8px 15px;
	list-style-image: url("../images/ball.png");
}

#container-content #content-inner #lej-lokaler-item-list li a
{
	font-weight: bold;
}

#container-content #content-inner #faste-brugere-item-list a
{
	font-weight: bold;
	display: inline-block;
	margin-bottom: 2px;  
}


#container-content #content-inner #lej-lokaler-item-list h3
{
	font-size: 13px;
	font-weight: bold;
	display: inline-block;
	margin-top: 10px;  
}
#container-content #content-inner #tabs h2
{
	font-family: arial;
	font-weight: bold;
	color: #333;
	font-size: 13px;
	padding: 0px 0px 2px 0px;
}

#container-content #content-inner #tabs .boks
{
	margin-left: -20px;
	padding: 20px;
	min-height: 185px;
	background: transparent url(../images/back-boks.png) left top no-repeat;
	width: 540px;
	position: relative;
}

#container-content #content-inner #tabs .item-list .email
{
	background: none;	
	width: auto;
}

#container-content #content-inner #tabs .item-list .email a
{
	background: transparent url(../images/email.png) no-repeat scroll top left;
	text-align: left;
	height: 26px;
	width: 45px;
	margin-top: -7px;
	position: absolute;
}

#container-content #content-inner #tabs .item-list .email span
{
	background: none;	
}

#container-content #content-inner #tabs .email a:hover
{
	text-decoration:none;
	color: #FFF;
}


#container-content #content-inner #tabs .item-list
{
	margin-left: -16px;
	clear: both;
	height: 40px;
}

#container-content #content-inner #tabs .item-list li
{
	background: transparent url(../images/back-boks-felt.png) no-repeat scroll top left;
	margin-top: 18px;
	margin-left: -15px;
	float: left;
	display: block;
	height: 19px;
	padding: 10px 0 0 0;
	width: 140px;
	text-align: center;
	z-index: 5;
}

#container-content #content-inner #tabs .item-list .description
{
	margin-left: -5px;
}


#container-content #content-inner #tabs .item-list li > a
{
	font-family: arial;
	font-size: 13px;
	text-transform: uppercase;
}

#container-content #content-inner #tabs .item-list .active
{
	background-position: 0px -31px;
	position: relative;
	margin-top: 17px;
	padding: 12px 0 0 0;
}

#container-content #content-inner #tabs .item-list a.active
{
	color: #333;
}

#container-content #content-inner #tabs a:link
{
	text-decoration:none;
	color: #FFF;
}

#container-content #content-inner #tabs a:visited
{
	text-decoration:none;
	color: #FFF;
}

#container-content #content-inner #tabs a:hover
{
	text-decoration:underline;
	color: #FFF;
}

#container-content #content-inner #tabs .boks a:link
{
	text-decoration:none;
	color: #8DC63F;
}

#container-content #content-inner #tabs .boks a:visited
{
	text-decoration:none;
	color: #8DC63F;
}

#container-content #content-inner #tabs .boks a:hover
{
	text-decoration:underline;
	color: #8DC63F;
}

#container-content #content-inner #tabs .item-list li span
{
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(../images/kugler.png) no-repeat scroll left center;
	padding: 2px 0 0 7px;
	margin: 2px 0 0 5px;
}

#container-content #content-inner #tabs .item-list .active span
{
	background:transparent url(../images/gron-kugler.png) no-repeat scroll left center;
}

/**********************************************************
 *				SITEMAP
 **********************************************************/

#site-map .content .menu .expanded
{
	list-style-image: none;
	list-style-type: none;
	padding: 10px 0px 5px 0px;
	font-weight: bold;
}

#site-map .content .menu .expanded .menu .leaf
{
	font-weight: normal;
	padding: 0px;
}

#site-map .content .menu .leaf
{
	padding: 10px 0px 5px 0px;
	font-weight: bold;
}

#site-map ul.menu
{
	padding-left: 0px;
}

#site-map ul.menu ul.menu .leaf
{
	margin-left: 15px;
	list-style-image: url("../images/ball.png");
}

/**********************************************************
 *				FIND RUNDT
 **********************************************************/

#container-content #content #content-inner .Bygninger-img
{
	padding: 10px 0px 50px;
	margin-bottom: 10px;
	border-bottom:1px solid #ccc;
}

#container-content #content #content-inner .Bygninger .Bygninger-header
{
	padding: 30px 0px 5px;
	font-family: arial;
	font-size: 13px;
	font-weight: bold;
}

#container-content #content #content-inner .Bygninger li
{
	list-style-image: url("../images/ball.png");
	margin-left: 15px;
}

.views-view-grid .views-field-field-pictures-fid
{
	padding: 0px 5px 5px 0px;
}

/**********************************************************
 **********************************************************/

#search-block-form #edit-search-block-form-1 {
  font-size: 10px;
	padding: 2px;
  border: solid 1px #CCC;
  width: 150px;
  background-color: #FFF;
}

#search-block-form #edit-search-block-form-1-wrapper
{
	float: left;
}

#search-block-form #edit-submit,
#search-block-form #edit-submit-1,
#search-block-form #edit-submit-2
{
	margin-top: 14px;
	margin-left: 5px;
}

#search-form .form-item #edit-keys
{
    	font-size: 13px;
	margin-top: 4px;
    	padding: 4px;
    	border: solid 1px #C5E29F;
    	width: 300px;
    	background-color: #FFF;
}

#search-form .form-item #edit-submit
{
	width: 50px;
	margin-left: 20px;
}

.search-advanced .fieldset-wrapper
{
	border-top: solid 1px #CCC;
	margin-top: 20px;
}

.search-advanced #edit-or,
.search-advanced #edit-phrase,
.search-advanced #edit-negative,
.search-advanced #edit-category
{
    	font-size: 11px;
	padding: 2px;
    	border: solid 1px #CCC;
    	width: 180px;
    	background-color: #FFF;
	margin-top: 5px;
}

.search-advanced .form-checkbox
{
    	font-size: 11px;
	padding: 2px;
}

.search-results .search-info
{
	display: none;
}

.box .content
{
	border-top: solid 1px #CCC;
	padding-top: 9px;
	margin-top: 9px;
	padding-right: 15px;
	margin-right: 5px;
}

.search-results .title
{
    	font-size: 11px;
	font-weight: bold;
}

.search-results .search-snippet
{
	font-style: italic;
}


/**********************************************************
 *				KONTAKT
 **********************************************************/

#contact-mail-page #edit-name,
#contact-mail-page #edit-mail,
#contact-mail-page #edit-message
{
    	font-size: 13px;
    	display: block;
	margin-top: 4px;
    	padding: 4px;
    	border: solid 1px #C5E29F;
    	width: 300px;
    	background-color: #FFF;
}

#contact-mail-page .form-item label
{
	font-weight: normal;
}

#contact-mail-page .form-required
{
	display: none;
}

#contact-mail-page #edit-message-wrapper
{
	background:transparent url(../images/back-contact-top.jpg) no-repeat scroll left top;
}

#contact-mail-page #edit-message-wrapper label
{
	text-transform: uppercase;
	font-size: 13px;
	color: #FFF;
	font-weight: bold;
	padding: 3px 0px 0px 10px;
}

#contact-mail-page #edit-message
{
	margin-top: 2px;
    	width: 545px;
}

#contact-mail-page #edit-submit
{
	margin-left: -5px;
}

/**********************************************************
 *				LOGIN
 **********************************************************/

#user-login #edit-name
{
    	font-size: 13px;
    	display: block;
	margin-top: 4px;
    	padding: 4px;
    	border: solid 1px #C5E29F;
    	width: 300px;
    	background-color: #FFF;
}

#user-login .description,
#user-login .form-required
{
	display: none;
}

#user-login #edit-pass
{
    	font-size: 13px;
    	display: block;
	margin-top: 4px;
    	padding: 4px;
    	border: solid 1px #C5E29F;
    	width: 300px;
    	background-color: #FFF;
}

#user-login #edit-submit
{
    	font-size: 13px;
	margin-top: 4px;
    	padding: 4px;
    	border: solid 1px #C5E29F;
    	width: 100px;
    	background-color: #EEE;
}