.calendar-navigation a.current:link
{
	color: #333;
	text-decoration: none;
}

.calendar-navigation a.current:hover 
{
	color: #8DC63F;
	text-decoration: none;
}

.calendar-navigation a.current:visited 
{
	color: #333;
	text-decoration: none;
}

.calendar-navigation a:link
{
	color: #ccc;
	text-decoration: none;
}

.calendar-navigation a:visited
{
	color: #ccc;
	text-decoration: none;
}

.calendar-navigation a:hover
{
	color: #8DC63F;
	text-decoration: none;
}

h3 .date-display-single,
h3 .date-display-start,
h3 .date-display-end,
h3 .date-display-separator
{
	text-transform: uppercase;
	font-size: 13px;
	color: #FFF;
	font-weight: bold;
}

.panel-display .panel-pane .view-Kalender .item-list h3
{
	background:transparent url(../images/back-news-top.jpg) no-repeat scroll left center;
	height: 49px;
	padding-left: 15px;
	margin-left: -15px;
	padding-top: 3px;
	margin-top: -3px;



}
