.view-Kalender .view-content .item list
{
	padding-top: 30px;
}

.view-display-id-panel_pane_2 .view-content .item-list ul
{
	background:transparent url(../images/back-news.jpg) no-repeat scroll left top;
	margin-left: -15px;
	position: absolute;
	width: 570px;
}

.view-display-id-panel_pane_2 .view-content .item-list li
{
	padding: 5px 90px 20px 15px;
}

.calendar-navigation a.current:link
{
	color: #333;
	text-decoration: none;
}

.calendar-navigation a.current:hover 
{
	color: #8DC63F;
	text-decoration: none;
}

.calendar-navigation a.current:visited 
{
	color: #333;
	text-decoration: none;
}

.calendar-navigation a:link
{
	color: #ccc;
	text-decoration: none;
}

.calendar-navigation a:visited
{
	color: #ccc;
	text-decoration: none;
}

.calendar-navigation a:hover
{
	color: #8DC63F;
	text-decoration: none;
}

h3 .date-display-single,
h3 .date-display-start,
h3 .date-display-end,
h3 .date-display-separator
{
	text-transform: uppercase;
	font-size: 13px;
	color: #FFF;
	font-weight: bold;
	float: left;
}

.panel-display .panel-pane .view-Kalender .item-list h3
{
	background:transparent url(../images/back-news-top.jpg) no-repeat scroll left center;
	height: 49px;
	padding-left: 15px;
	margin-left: -15px;
	padding-top: 3px;
	margin-top: -3px;
}

.panel-display .panel-pane .view-Kalender .view-header h3
{
	background:transparent url(../images/back-news-top.jpg) no-repeat scroll left center;
	height: 49px;
	padding-left: 15px;
	margin-left: -15px;
	padding-top: 3px;
	margin-top: -3px;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-size: 13px;
	color: #FFF;
	font-weight: bold;
}

.panel-display .panel-pane .view-Kalender .view-header .current-date
{
	background:transparent url(../images/today_big.png) no-repeat scroll right top;
	padding-left: 15px;
	margin-left: -15px;
	display: block;
	position: absolute;
	z-index: 1;
	height: 200px;
	width: 550px;
}

.panel-display .panel-pane .view-Kalender .view-header .kugler
{
	background: url("../images/kugler.png") no-repeat scroll left center transparent;
	margin: 2px 0 0 75px;
	padding: 1px 0 0 7px;
}

.panel-display .panel-pane .view-Kalender .view-header #calender-current-date
{
	margin-top: -28px;
	position: absolute;
	z-index: 1;
	font-style: italic;
	font-size: 10px;
}

.view-display-id-panel_pane_1 .view-content .item-list .views-field-title,
.view-display-id-panel_pane_2 .view-content .item-list .views-field-title
{
	padding-left: 102px;
	padding-right: 150px;
	font-weight: bold;
}

.view-display-id-panel_pane_1 .view-content .item-list .views-field-field-cal-description-value,
.view-display-id-panel_pane_2 .view-content .item-list .views-field-field-cal-description-value
{
	padding-left: 102px;
	padding-right: 150px;
}

.view-display-id-panel_pane_1 .view-content .item-list .views-field-field-cal-date-start-value,
.view-display-id-panel_pane_2 .view-content .item-list .views-field-field-cal-date-start-value
{
	position: absolute;
}

.view-display-id-panel_pane_1 .view-content .item-list .views-field-tid,
.view-display-id-panel_pane_2 .view-content .item-list .views-field-tid

{
	padding-left: 102px;
	padding-right: 150px;
}

.view-display-id-panel_pane_1 .view-content .item-list .views-field-tid-1,
.view-display-id-panel_pane_2 .view-content .item-list .views-field-tid-1
{
	padding-left: 102px;
	padding-right: 150px;
}

.view-Kalender .current-date
{
	background:transparent url(../images/today_small.png) no-repeat scroll right top;
	padding-left: 15px;
	margin-left: -15px;
	display: block;
	position: absolute;
	z-index: 1;
	height: 125px;
	width: 550px;
}

.view-Kalender .kugler
{
	background: url("../images/kugler.png") no-repeat scroll left center transparent;
	margin: 2px 0 0 5px;
	padding: 13px 0 0 7px;
	float: left;
}

.view-Kalender #edit-date-filter-min-wrapper
{
	position: absolute;
	padding: 5px 0 0 0;
	margin: 0px;
}

.view-Kalender #edit-date-filter-max-wrapper
{
	padding: 5px 0 0 95px;
	margin: 0px;
}

.date-clear .description
{
	position: absolute;
}

.description .container-inline-date
{
	padding: 0px;
	margin: 0x;
}

.date-views-filter-wrapper .date-clear
{
	margin: 0px;
	padding: 0px;
}

.container-inline-date .form-item .description
{
	display: none;
}

#edit-type-wrapper #edit-type
{
    	font-size: 10px;
	padding: 2px;
    	border: solid 1px #CCC;
    	width: 120px;
    	background-color: #FFF;
}

#edit-date-filter-min-wrapper #edit-date-filter-min-datepicker-popup-0,
#edit-date-filter-max-wrapper #edit-date-filter-max-datepicker-popup-0
{
    	font-size: 10px;
	padding: 2px;
    	border: solid 1px #CCC;
    	width: 80px;
    	background-color: #FFF;
}


.view-Kalender .views-widget #edit-type-wrapper
{
	padding-top: 15px;
}

.view-Kalender .view-filters
{
	padding-bottom: 30px;
}

.view-Kalender .view-filters .views-exposed-widget label
{
	font-weight: normal;
}

.view-Kalender .view-filters .views-exposed-widget .form-submit
{
	margin-top: 26px;
}

.view-Kalender .view-filters .date-views-filter-wrapper
{
	min-width: 190px;
}

.view-Kalender .view-filters .container-inline-date
{
	padding: 0px;
	height: 0px;
}

.view-Kalender .view-filters .form-item .form-select
{
	width: 150px;
}

.view-Kalender .view-empty
{
	padding-bottom: 10px;
}

.pane-kalender-panel-pane-2
{
	padding-top: 50px;
}

.panel-display .panel-pane .view-display-id-panel_pane_1 .view-empty>p
{
	background:transparent url(../images/back-news-top.jpg) no-repeat scroll left center;
	height: 24px;
	padding: 27px 15px 0px 15px;
	margin: -3px -15px 0px -15px;
}


.panel-display .panel-pane .view-display-id-panel_pane_2 .view-empty>p
{
	background:transparent url(../images/back-news.jpg) no-repeat scroll left top;
	margin-left: -15px;
	position: inherit;
	width: 555px;
	height: 100px;
	padding-left: 15px;
	padding-top: 15px;
}

