.view-Kalender .view-content .item list
{
	padding-top: 30px;
}

.view-display-id-panel_pane_2 .view-content .item-list ul
{
	background:transparent url(../images/back-news.jpg) no-repeat scroll left top;
	margin-left: -15px;
	padding-left: 15px;
	position: absolute;
	width: 555px;
}

.view-display-id-panel_pane_2 .view-content .item-list li
{
	padding: 5px 15px 20px 15px;
}

.calendar-navigation a.current:link
{
	color: #333;
	text-decoration: none;
}

.calendar-navigation a.current:hover 
{
	color: #8DC63F;
	text-decoration: none;
}

.calendar-navigation a.current:visited 
{
	color: #333;
	text-decoration: none;
}

.calendar-navigation a:link
{
	color: #ccc;
	text-decoration: none;
}

.calendar-navigation a:visited
{
	color: #ccc;
	text-decoration: none;
}

.calendar-navigation a:hover
{
	color: #8DC63F;
	text-decoration: none;
}

h3 .date-display-single,
h3 .date-display-start,
h3 .date-display-end,
h3 .date-display-separator
{
	text-transform: uppercase;
	font-size: 13px;
	color: #FFF;
	font-weight: bold;
}

.panel-display .panel-pane .view-Kalender .item-list h3
{
	background:transparent url(../images/back-news-top.jpg) no-repeat scroll left center;
	height: 49px;
	padding-left: 15px;
	margin-left: -15px;
	padding-top: 3px;
	margin-top: -3px;
}


.view-display-id-panel_pane_1 .view-content .item-list .views-field-title,
.view-display-id-panel_pane_2 .view-content .item-list .views-field-title
{
	padding-left: 102px;
	padding-right: 150px;
	font-weight: bold;
}

.view-display-id-panel_pane_1 .view-content .item-list .views-field-field-cal-date-start-value,
.view-display-id-panel_pane_2 .view-content .item-list .views-field-field-cal-date-start-value
{
	position: absolute;
}

.view-display-id-panel_pane_1 .view-content .item-list .views-field-tid,
.view-display-id-panel_pane_2 .view-content .item-list .views-field-tid

{
	padding-left: 102px;
	padding-right: 150px;
}

.view-display-id-panel_pane_1 .view-content .item-list .views-field-tid-1,
.view-display-id-panel_pane_2 .view-content .item-list .views-field-tid-1
{
	padding-left: 102px;
	padding-right: 150px;
}

.view-Kalender .current-date
{
	background:transparent url(../images/today_small.png) no-repeat scroll right center;
	padding-left: 15px;
	margin-left: -15px;
	padding-top: 50px;
	margin-top: -50px;
	display: block;
	position: absolute;
	z-index: 1;
	height: 125px;
	width: 550px;
}

.view-Kalender .description .container-inline-date
{
	padding-top: 5px;
	display: inline-block;
}

.view-Kalender .views-widget #edit-type-wrapper
{
	padding-top: 15px;
}

.view-Kalender .view-filters
{
	padding-bottom: 30px;
}

.view-Kalender .view-filters .views-exposed-widget label
{
	font-weight: normal;
}

.view-Kalender .view-filters .views-exposed-widget .form-submit
{
	margin-top: 26px;
}

.view-Kalender .view-filters .date-views-filter-wrapper
{
	min-width: 0px;
}

.view-Kalender .view-filters .form-item .form-select
{
	width: 150px;
}

.view-Kalender .view-empty
{
	padding-bottom: 10px;
}

.pane-kalender-panel-pane-2
{
	padding-top: 50px;
}

.panel-display .panel-pane .view-Kalender .view-empty>p
{
	background:transparent url(../images/back-news-top.jpg) no-repeat scroll left center;
	height: 24px;
	padding: 27px 15px 0px 15px;
	margin: -3px -15px 0px -15px;
	text-align: center;
}